h1, h2, p{
    font-family: sans-serif;
}
h3{
    color: rgba(0,0,139, 0.8);
}
a{
    color: darkgreen;
}

del{
    color: grey;
}
mark{
    color: darkblue;
    background-color: pink;
}

h2{
    text-align: left;
}

pre{
    font-family: monospace;
}
.transparent-text{
    color: rgba(0,0,0,0.5);
}
.fancy-background{
    background-color: #DCF5F5;
    background-image: url("cross.png");
    background-repeat: repeat;
}
.fancy{
    font-family: cursive;
}
.blue{
    color: blue;
}
#content{
    background-color: white;
}
.grey-border{
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
}

.red-border{
    border-style: solid;
    border-color: red;
    border-width: 1px;
}
.redOutline{
    outline-style: solid;
    outline-color: red;
    outline-width: 1px;
}
.rounded{
    border-radius: 8px;
}
#rules26{
    border-style: solid;
    border-color: #CFDFE4;
}
.blue-border{
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}
#removeBottom.red-border{
    border-bottom: 0px;
    border-radius: 8px 8px 0px 0px;
}
.roundbottom{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.div1{
    background-color: blue;
}
.div2{
    text-align: right;
    background-color: yellow;
    margin: 10px 20px 10px 20px;
    padding: 12px;
    width: 674px;
    height: 174px;
}
#secondinnerdiv1.div1{
    margin: 20px;
}
#secondinnerdiv2.div2{
    text-align: center;
    padding: 12px;
    width: 374px;
    height: 374px;
    margin: auto;
}